.filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    label {
        display: flex;
        flex-direction: column;
    }

    select {
        margin-top: 5px;
        padding: 5px;
    }
}
